* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v43_89 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v43_126 {
  width: 100%;
  height: 1939px;
  background: url("../images/v43_126.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 461px;
  left: 641px;
  overflow: hidden;
}
.v43_362 {
  width: 100%;
  height: 100%;
  background: url("../images/v43_362.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v43_368 {
  width: 381px;
  height: 308px;
  background: url("../images/v43_368.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 426px;
  left: 167px;
  overflow: hidden;
}
.v43_145 {
  width: 14px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 288px;
  left: 183px;
  overflow: hidden;
}
.v43_146 {
  width: 40px;
  height: 51px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 11px;
  overflow: hidden;
}
.v43_162 {
  width: 21px;
  height: 21px;
  background: url("../images/v43_162.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 7px;
  overflow: hidden;
}
.v43_163 {
  width: 21px;
  height: 21px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v43_164 {
  width: 8px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3px;
  left: 7px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v43_147 {
  width: 37px;
  height: 48px;
  background: rgba(35,128,123,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v43_148 {
  width: 18px;
  height: 48px;
  background: rgba(45,167,161,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.name {
  color: #fff;
}
.v43_369 {
  width: 417px;
  height: 247px;
  background: url("../images/v43_369.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 595px;
  left: 607px;
  overflow: hidden;
}
.v43_152 {
  width: 14px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 129px;
  left: 0px;
  overflow: hidden;
}
.v43_153 {
  width: 40px;
  height: 51px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 11px;
  overflow: hidden;
}
.v43_159 {
  width: 21px;
  height: 21px;
  background: url("../images/v43_159.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 7px;
  overflow: hidden;
}
.v43_160 {
  width: 21px;
  height: 21px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v43_161 {
  width: 8px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3px;
  left: 7px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v43_154 {
  width: 37px;
  height: 48px;
  background: rgba(35,128,123,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v43_155 {
  width: 18px;
  height: 48px;
  background: rgba(45,167,161,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.name {
  color: #fff;
}
.v43_370 {
  width: 416px;
  height: 246px;
  background: url("../images/v43_370.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 186px;
  left: 725px;
  overflow: hidden;
}
.v43_141 {
  width: 14px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 127px;
  left: 401px;
  overflow: hidden;
}
.v43_142 {
  width: 40px;
  height: 51px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 11px;
  overflow: hidden;
}
.v43_158 {
  width: 21px;
  height: 21px;
  background: url("../images/v43_158.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 8px;
  overflow: hidden;
}
.v43_156 {
  width: 21px;
  height: 21px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v43_157 {
  width: 6px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 3px;
  left: 8px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v43_143 {
  width: 37px;
  height: 48px;
  background: rgba(35,128,123,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v43_144 {
  width: 18px;
  height: 48px;
  background: rgba(45,167,161,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v43_333 {
  width: 381px;
  height: 246px;
  background: url("../images/v43_333.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v43_334 {
  width: 381px;
  height: 246px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.v43_335 {
  width: 89px;
  height: 26px;
  background: url("../images/v43_335.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 204px;
  left: 162px;
  overflow: hidden;
}
.v43_336 {
  width: 89px;
  height: 26px;
  background: rgba(45,167,161,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v43_337 {
  width: 74px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 7px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v43_338 {
  width: 49px;
  height: 26px;
  background: url("../images/v43_338.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 204px;
  left: 108px;
  overflow: hidden;
}
.v43_339 {
  width: 49px;
  height: 26px;
  background: rgba(45,167,161,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v43_340 {
  width: 30px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 10px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v43_341 {
  width: 81px;
  height: 26px;
  background: url("../images/v43_341.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 204px;
  left: 22px;
  overflow: hidden;
}
.v43_342 {
  width: 81px;
  height: 26px;
  background: rgba(45,167,161,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v43_343 {
  width: 61px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 10px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v43_344 {
  width: 353px;
  color: url("../images/v43_344.png");
  position: absolute;
  top: 79px;
  left: 20px;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v43_345 {
  width: 13px;
  height: 12px;
  background: url("../images/v43_345.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 61px;
  left: 282px;
  overflow: hidden;
}
.v43_346 {
  width: 13px;
  height: 12px;
  background: rgba(45,167,161,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v43_347 {
  width: 259px;
  color: url("../images/v43_347.png");
  position: absolute;
  top: 60px;
  left: 20px;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v43_348 {
  width: 91px;
  height: 15px;
  background: url("../images/v43_348.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 21px;
  overflow: hidden;
}
.v43_349 {
  width: 34px;
  color: url("../images/v43_349.png");
  position: absolute;
  top: 0px;
  left: 57px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v43_351 {
  width: 44px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 13px;
  left: 20px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
